/* filename: style.css 
 * description: contains css styling for the popup.html and options.html; includes things like
 * fade in and fade out for buttons as well as button position. Main css file used was bootstrap. */

body {
  font-family: 'Abel';
  /*color:red; for debugging */
}

div.hidden {
  display:none;
}

.progress {
  float:left;
  margin-bottom:0;
  width:82%;
}

#settings-icon {
  position:absolute;
  top:57px;
  margin-left:89%;
  opacity:0.6;
  transition: opacity .1s ease-in;
-moz-transition: opacity .1s ease-in;
-webkit-transition: opacity .1s ease-in;
-o-transition: opacity .1s ease-in;
}

#settings-icon:hover {
  opacity:.9;
}

#add-icon {
  position:absolute;
  top:57px;
  margin-left:80%;
  opacity:0.6;
  transition: opacity .1s ease-in;
-moz-transition: opacity .1s ease-in;
-webkit-transition: opacity .1s ease-in;
-o-transition: opacity .1s ease-in;
}

#add-icon:hover {
  opacity:1.0;
}

/*dropdown*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3498DB;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 16px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

/*columns for Settings*/

.column {
  float:left;
  width:85%;
}

.column-notification {
  float:left;
  width:75%;
}

.column-right {
 float: right;
 width:25%;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

.row {
  margin:1%;
}

#whitelistURL {
  width:90%;
}

#whitelist-add-url {
  font-style:italic;
  width:40%;
}

.add-button {
  float:left;
  width:10%;
  padding-top:5px;
}

select {
  font-weight:bold;
}
